
body {
  background-color: #1A5E63;
}

#board {
  width: 440px;
  height: 440px;
  border: 5px solid #DCABDF;
  background-color: #C792DF;
  margin: auto;
}

#score, #highScore {
  color: #8AEA92;
  text-align: center;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: #5F1A37;
  z-index: 2;
}

#snake-head {
  background-color: #5F1A37;
}

.apple {
  background-color: #776885;
  z-index: 1;
}